<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <title>WhereToMovie Homepage</title>
</head>

<body>

  <!--Navbar-->
  <nav class="navbar has-shadow is-white">
    <!--Logo-->
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="../Assets/Logo.png" alt="Site Logo" style="max-height: 70px" class="py-3 px-2">
      </a>
      <a class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item">Search</a>
        <a class="navbar-item">My Account</a>
      </div>
    </div>
  </nav>

  <!--Greeting-->
  <div class="section">
    <div class="columns is-size-5">Hello&nbsp;<div>Username</div>!
    </div>

    <!--Main-->
    <div class="section">
      <!--Search-->
      <div class="mb-4 has-text-weight-bold is-size-4">Search for a movie:</div>
      <div class="field has-addons">
        <div class="control" style="width: 50%">
          <input class="input" type="text" placeholder="Jurassic Park">
        </div>
        <div class="control">
          <a class="button is-info">
            Search
          </a>
        </div>
      </div>

      <!--Old Search Button
    <form style="width: 63%">
        
        <div class="field">
            <label class="label">Search for a movie:</label>
            <div class="control">
                <input type="text" class="input" placeholder="Jurassic Park">
        </div>
    </form>
    -->

      <!--My List-->
      <div class="my-5 has-text-weight-bold is-size-4">
        My Movies:
      </div>

      <div class="tile is-ancestor">

        {{{ body }}}

        

        

      </div>

      <a class="my-5 has-text-weight-bold">
        See All
      </a>

      <!--My Ratings-->
      <div class="my-5 has-text-weight-bold is-size-4">
        My Ratings:
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Jurassic Park</p>
            <p class="subtitle">100%</p>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">The Shining</p>
            <p class="subtitle">100%</p>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Interstellar</p>
            <p class="subtitle">100%</p>
        </div>
        </article>
      </div>

      <a class="my-5 has-text-weight-bold">
        See All
      </a>

      <!--Popular Movies-->
      <div class="my-5 has-text-weight-bold is-size-4">
        Popular Movies:
      </div>
      <div>
        Popular Movies API
      </div>

      <a class="my-5 has-text-weight-bold">
        See All
      </a>

    </div>
  </div>











</body>

</html>