   <!--Navbar-->
    <nav class="navbar has-shadow is-white">
        <!--Logo-->
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/assets/Logo.png" alt="Site Logo" style="max-height: 70px" class="py-3 px-2" id="navbar-home">
            </a>
            <a class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
            <!--Navbar Items-->
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" id="navbar-search">Search</a>
                    <a class="navbar-item" id="navbar-my-account">My Account</a>
                </div>
            </div>
    </nav>

    <!--Main-->
            <div class="columns is-centered my-6 is-size-1">
              WhereToMovie 
            </div>
            
            <!--SignIn/SignUp Buttons-->
            <div class="columns is-centered">
                <div class="my-2 mx-6">
                    <button class="button my-2 px-4" id="signin">Sign In</button>
                </div>
                
                <div class="my-2 mx-6">
                    <button class="button my-2 px-4" id="signup">Sign Up</button>
                </div>
            </div>

    <!--Popular Movies-->
    <div class="my-4">(PopularMoviesAPI)</div>

    <!--Sign In Modal-->
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content has-background-white py-5 px-5">
            <h3 class="title mb-6">Sign In</h3>
            <form>
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input type="text" class="input" placeholder="Username" id="modal-user-name">
                    </div>
                    <div class="field">
                        <label class="label pt-2">Password</label>
                        <div class="control">
                            <input type="password" class="input" placeholder="Password" id="modal-password">
                        </div>
                </div>
                <div class="mt-6 has-text-centered">
                    <button class="button is-primary" id="modal-sign-in-button">Sign In!</button>
                </div>
                <div class="mt-4 has-text-centered">
                    Don't have an account? <a href="/signup.html">Sign up here!</a>
                </div>
            </form>
        </div>
    </div>