{{#each movies as |movie|}}
<div class="row mb-4 movie">
  <div class="col-md-5">
    <h2>
         
      <a href="/movie/{{movie.title}}">{{movie.title}}</a>
    </h2>
    
      
  </div>

</div>
{{/each}}