<h1>mymovies.handlebars</h1>

{{!-- {{#each movies as |movie|}}
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">{{movie.title}}</p>
          

            <a>
              <figure class="image is-4by3">
                <img src="../Assets/JPpic.jpeg">
            </a>
          </article>
        </div>
{{/each}} --}}