
    <!--Navbar-->
    <nav class="navbar has-shadow is-white">
        <!--Logo-->
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/assets/Logo.png" alt="Site Logo" style="max-height: 70px" class="py-3 px-2">
            </a>
            <a class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item">Search</a>
                    <a class="navbar-item">My Account</a>
                </div>
            </div>
    </nav>

    <!--Main-->
    <div class="section has-text-centered">
        <div class="is-size-5">Sign Up</div>

        <div class="is-size-3 pt-5 pb-3">Welcome to WhereToMovie!</div>
        <div class="pt-4">Please fill out the form below to get started:</div>
    </div>

    <!--Form-->
    <div class="column is-offset-one-quarter">
    <form class="section" style="width: 63%">
        
        <div class="field">
            <label class="label">Email:</label>
            <div class="control">
                <input type="text" class="input" placeholder="example@example.com" id="email-field">
        </div>
        
        <div class="field">
            <label class="label pt-2">Unique Username:</label>
            <div class="control">
                <input type="text" class="input" placeholder="user123" id="username-field">
        </div>
        

        <div class="field">
            <label class="label pt-2">Password:</label>
            <div class="control">
                <input type="text" class="input" placeholder="P4ssw0Rd!" id="password-field">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox">
                    I agree to the terms & conditions
                </label>
            </div>
        </div>

        <div class="mt-6 has-text-centered">
            <button class="button is-primary" id="sign-up">Sign Up!</button>
        </div>
    </form>
</div>


<script src="js/signuppage.js"></script>